<!-- Testing include tag WORKS-->
<launch>
    <arg name="msg" default="LAUNCHED FROM 1test" />
    <node name="dji_pub_text" pkg="rostopic" type="rostopic"
        args="pub /msg std_msgs/String '$(arg msg)'"
        output="screen" />
    <node name="dji_print_text" pkg="rostopic" type="rostopic"
        args="echo /msg" output="screen" />
    <group>
        <include file="$(find dji_osdk_ros)/launch/mod_dji_vehicle_node.launch"/>
    </group>
</launch>
